df/* Ex2 question1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}

.div1 {
    background-color: pink;
    text-align: center;
    color: #ed6dcd;
    margin-bottom: 15px;
}

.div2 {
    background-color: khaki;
    text-align: center;
}
.div2-1 {
    color: blue;
}
.div2-2 {
    color: red;
}
.div2-3 {
    color: green;
}

/* ---------------------- */
.img, .content {
    float: left;
}

.gioithieu, .lienhe {
    display: inline-block;
    padding-left: 20px;
    margin: 0;
    
}

.gioithieu li, .lienhe li {
    margin-left: 60px;
    
}

address {
    margin-top: 15px;
}

/* ------------------------------- */
.menu {
    width: 40%;
    height: 350px;
    background-color: #edbba0;
}
.header {
    color: #9b5027;
    text-align: center;
}
.img-menu, .table-menu {
    float: left;
}
.table-menu {
    border-color: #805c6e;
    width: 50%; height: 250px; 
    border-collapse: collapse;
    margin-left: 30px;
}
.table-menu tr:nth-child(2),
.table-menu tr:nth-child(4),
.table-menu tr:nth-child(6),
.table-menu tr:nth-child(8) {
    background-color: #fff;
}
.menu th {
    color: white;
    background-color: #9b5027;
}

/* --------------------------------------------- */
.container {
    border: 2px solid blue;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}
.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 150px;
    top: 150px;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: -100px;
    left: 150px;
}

/* Ex3 Question1 */
.header-ques1 {
    height: 30vh;
    background-color: yellow;
}
.body-ques1 {
    height: 60vh;
}
.body-ques1-left {
    float: left;
    background-color: red;
    width: 30%;
    height: 100%;
}
.body-ques1-right {
    float: left;
    background-color: gray;
    width: 70%;
    height: 100%;
}
.footer {
    height: 10vh;
    background-color: black;
}